.container {
  width: 100%;
  background-color: #1cd7f0;
  padding: 22px;
  margin-bottom: 20px;
}
.nav {
  display: flex;
  align-items: center;
  .logo {
    span {
      font-size: 24px;
      font-weight: 800;
      cursor: pointer;
    }
  }

  .searchBox {
    flex-grow: 1;
  }
  .navigation {
    display: flex;
    align-content: center;
    align-items: center;
    .badge {
      display: inline-block;
      position: relative;
      top: -8px;
      right: 2.5px;
      background-color: #000;
      color: #fff;
      width: 21px;
      height: 21px;
      text-align: center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      font-size: 14px;
      overflow: hidden;
    }
    li {
      display: inline;
      font-size: 18px;
      margin: 0 16px;
      font-weight: 500;
      cursor: pointer;
    }
    button {
      font-size: 15px;
      font-weight: 600;
      background: transparent;
      border: 2px solid #108fca;
      padding: 6px 12px;
      border-radius: 15px;
      outline: none;
      cursor: pointer;
    }
  }
}
.profileMenu {
  .bgBlack {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
  }
  article {
    position: relative;
  }
  .menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 20;
    top: -10px;
    right: 0;
    background-color: #fff;
    box-shadow: -1px 2px 1px 1px #a19d9d;
    // box-shadow: 1px 2px 2px 2px #a19d9d;
    border-radius: 4px;
    min-width: 110px;
    li {
      list-style: none;
      margin: 0 auto;
      padding: 8px 6px;
      width: 100%;
      font-weight: 550;
      font-family: 'Times New Roman', Times, serif;
      font-size: 16px;
      border-bottom: 1px solid #d6d0d0;
      transition: all 0.3s ease-in-out;
      border-radius: 1px;
      &:active,
      &:focus,
      &:hover {
        background-color: #d6d0d0;
      }
    }
  }
}
// padding: 10px 8px;
//       font-weight: 600;
//       list-style: none;
//       font-family: 'Times New Roman', Times, serif;
//       font-size: 16px;
//       transition: all 0.3s ease-in-out;
//       border-radius: 1px;
//       &:active,
//       &:hover {
//         cursor: pointer;
//         background-color: #ece6e6;
//       }
