.container {
  padding: 0 10px;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  font-family: 'Times New Roman', Times, serif;
  .errorBox {
    color: #f04040;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    margin: 30px auto;
  }
  .tableContainer {
    box-shadow: 0 2px 2px 2px #d3cccc;
    border-top: 0.5px solid #d3cccc;
    overflow-x: auto;
    flex: 9;
    padding: 10px;
    margin: 10px;
    table,
    tr {
      width: 100%;
      text-align: left;
    }
    th,
    td {
      border-bottom: 1px solid #d3cccc;
      padding: 15px 5px;
    }
    select {
      width: 50px;
      padding: 4px 2px;
      border: 1px solid #33ad9d;
      font-weight: 500;
    }
    select:active,
    select:focus {
      outline: none;
    }

    button {
      padding: 6px 16px;
      cursor: pointer;
      background-color: #3bc7b4;
      border: 1px solid #33ad9d;
    }
  }
  .textRight {
    text-align: right;
  }
  .textCenter {
    text-align: center;
  }
  .control {
    box-shadow: 0 2px 2px 2px #d3cccc;
    border-top: 0.5px solid #d3cccc;
    padding: 5px 0;
    flex: 3;
    margin: 10px 10px;
    h2 {
      margin: 10px 0 20px 0;
    }
    li {
      padding: 10px 8px;
      font-weight: 600;
      list-style: none;
      font-family: 'Times New Roman', Times, serif;
      font-size: 16px;
      transition: all 0.3s ease-in-out;
      border-radius: 1px;
      &:active,
      &:hover {
        cursor: pointer;
        background-color: #ece6e6;
      }
    }
    .selected {
      background-color: #ece6e6;
    }
  }
  p {
    margin: 10px 0;
    font-size: 18px;
    a {
      color: #08bea6;
    }
  }
}
.line {
  border-top: 1px solid #d3cccc;
  margin: 5px 0;
  width: 100%;
}
.title {
  margin: 20px 0;
  font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 850px) {
  .container {
    display: initial;
    .checkout {
      margin-top: 10px;
    }
  }
}
